.logoHeader{
    width: 150px;
    height: 150px;
    margin-top:50px;
  }
  .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:20px;
    background-color: #000;
    color: #fff;
    padding: 40px;
  }
  .groupAHeader{
    margin-top: 2px;
  }
  .aOfHeader{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 30px;
  }